.photo {
  width: 500px;
  cursor: pointer;
}

.photo_hidden {
  display: none;
}

.arrow {
  width: 30px;
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}
