.Menu {
  background-color: rgb(3, 3, 71);
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.Country {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.cities_hidden {
  display: none;
}

.cities {
  position: absolute;
  width: 150px;
  background-color: rgb(3, 3, 71);
  cursor: pointer;
}

.city:hover {
  background-color: hsl(197, 96%, 9%);
}

.selected_country {
  background-color: hsl(197, 96%, 9%);
}
