.text-container {
  display: flex;
  justify-content: space-around;
}

.text {
  color: navy;
  width: 70%;
  text-align: justify;
  padding-left: 10px;
  
  
}

.photo {
  object-fit: contain;
  margin: 5px;
  padding: 5px;
}
